# Measure of dispersion
### Variance and standard deviation

In [1]:
# variance

In [2]:
age_list = [23, 43, 23, 56, 74, 32, 68, 98, 45, 32]

In [3]:
import numpy as np

In [4]:
mean = np.mean(age_list)

In [5]:
mean

49.4

In [6]:
variance = np.var(age_list)
variance

541.64

In [7]:
st_deviation = np.std(age_list)
st_deviation

23.273160507331188

In [8]:
import pandas as pd

In [9]:
data = [[10, 12, 13], [34, 23, 45], [32, 34, 21]]

In [10]:
data

[[10, 12, 13], [34, 23, 45], [32, 34, 21]]

In [14]:
df = pd.DataFrame(data, columns=['A', 'B', 'C'])

In [15]:
df

    A   B   C
0  10  12  13
1  34  23  45
2  32  34  21

In [16]:
df.var()

A    177.333333
B    121.000000
C    277.333333
dtype: float64

In [17]:
# variance row wise
df.var(axis=1)

0      2.333333
1    121.000000
2     49.000000
dtype: float64

In [18]:
# column wise
df.var()  # or I can give axis=0

A    177.333333
B    121.000000
C    277.333333
dtype: float64